---
// Component Imports
import Main from '@layouts/main.astro';
import Header from '@organisms/Header.astro';
import About from '@molecules/About.astro';
import Divider from '@atoms/Divider.astro';
import Section from '@molecules/Section.astro';
import Chip from '@atoms/Chip.astro';
import CardExperience from '@molecules/CardExperience.astro';
import CardProject from '@molecules/CardProject.astro';
import Footer from '@molecules/Footer.astro';
import { Icon } from 'astro-icon/components';
import { EXPERIENCE, TECHS, projects } from './../data';

const content = {
  title: 'Mauricio Romero',
};
---

<Main content={content}>
  <Header />
  <About />
  <Divider />
  <Section title="I usually use">
    <div class="container mt-4 flex flex-wrap gap-2">
      {
        TECHS.map((tech) => (
          <Chip>
            <Icon name={tech.logo} />
            <span>{tech.name}</span>
          </Chip>
        ))
      }
    </div>
  </Section>
  <Section title="Experience">
    {
      EXPERIENCE.map((exp) => (
        <CardExperience
          icon={exp.image}
          company={exp.company}
          link={exp.link}
          position={exp.title}
          timeline={exp.date}
          description={exp.description}
        />
      ))
    }
  </Section>

  <Section title="Latest Projects">
    {
      projects.map(
        ({
          icon,
          title,
          subtitle,
          description,
          techs,
          live,
          source,
          screenshot,
        }) => (
          <CardProject
            icon={icon}
            title={title}
            subtitle={subtitle}
            description={description}
            techs={techs}
            live={live}
            source={source}
            screenshot={screenshot}
          />
        )
      )
    }
  </Section>
  <Divider />
  <Footer />
</Main>
