---
// Component Imports
import Main from '@layouts/main.astro';
import Header from '@organisms/Header.astro';
import About from '@molecules/About.astro';
import Divider from '@atoms/Divider.astro';
import Section from '@molecules/Section.astro';
import Chip from '@atoms/Chip.astro';
import CardExperience from '@molecules/CardExperience.astro';
import CardProject from '@molecules/CardProject.astro';

const content = {
  title: 'Mauricio Romero',
};

const TECHS = [
  'Vite',
  'NextJS',
  'ReactJS',
  'Tailwind CSS',
  'TypeScript',
  'Redux',
  'Sass',
  'CSS',
  'HTML',
  'JavaScript',
  'Strapi',
  'SQlite',
  'MongoDB',
  'Bootstrap',
  'Styled-components',
  'Node',
  'Docker',
  'Jest',
  'GitHub',
  'Jira',
];

const EXPERIENCE = [
  {
    title: 'IT consultant and Developer',
    company: 'Freelance',
    image: '/assets/logo.svg',
    date: '2021 - Present',
    description:
      'Developing and maintaining web applications and IT consulting including, hardware, network components, security and basic architecture.',
  },
  {
    title: 'Frontend Developer',
    company: 'Viking Sasquatch',
    link: 'https://www.linkedin.com/company/viking-sasquatch/',
    image: '/assets/VS.jpg',
    date: 'Dec 2022 - May 2024',
    description: `
      Contributed to building a mortgage and loan system using React, TailwindCSS, and TypeScript.
      Optimized frontend performance and supported Vue migration.
      Designed and implemented the UI for a PITI Calculator in React Native during a hackathon.
    `,
  },
  {
    title: 'Frontend Developer',
    company: 'FirstClose',
    link: 'https://www.linkedin.com/company/firstclose/',
    image: '/assets/FC.jpg',
    date: 'Dec 2022 - Apr 2023 (Project)',
    description: `
      Enhanced UI for mortgage applications and migrated to ReactJS.
      Improved functionality and worked closely with the team on design.
    `,
  },
  {
    title: 'Frontend Developer',
    company: 'Esto Es',
    link: 'https://www.linkedin.com/company/estoes/posts/',
    image: '/assets/estoes.jpg',
    date: 'Apr 2022 - Dec 2022',
    description: `
      Developed features for the Institutional Telecom site using Next.js and MaterialUI.
      Led the migration from CodeIgniter to Next.js with a focus on SEO and performance through server-side rendering.
    `,
  },
];


const projects = [
  {
    icon: '/assets/logo.svg',
    title: 'Superhero Team Inspector',
    subtitle: 'App to Create a Superhero Team',
    description:
      'This app allows you to create a fake superhero team to easily see their combined power stats. Credentials to access: Email: challenge@alkemy.org Password: react.',
    techs: ['React'],
    live: null, // Add the live link if available
    source: null, // Add the source link if available
    screenshot: '/assets/projects/nft.png',
  },
  {
    icon: '/assets/logo.svg',
    title: 'Blog Management',
    subtitle: 'Blog Management App',
    description:
      'This is a simple blog management app. It allows you to create, edit, and delete posts. It uses React, Redux, and a {JSON} Placeholder fake endpoint.',
    techs: ['React', 'Redux'],
    live: null,
    source: null,
    screenshot: '/assets/projects/nft.png',
  },
  {
    icon: '/assets/logo.svg',
    title: 'Trivia',
    subtitle: 'Trivia Game',
    description:
      'As part of the Evuca project, we were tasked with creating a website to apply the knowledge acquired so far. This strengthened our use of HTML, CSS, and JavaScript. We used Webpack, Git, and Less in this project. It is a simple trivia game with achievements.',
    techs: ['HTML', 'CSS', 'JavaScript', 'Webpack', 'Git', 'Less'],
    live: null,
    source: null,
    screenshot: '/assets/projects/nft.png',
  },
  {
    icon: '/assets/logo.svg',
    title: 'Hero NFT',
    subtitle: 'Landing Page for NFT Transactions',
    description:
      'Landing page for NFT transactions. This was created to practice using NextJs and Sass.',
    techs: ['NextJs', 'Sass'],
    live: null,
    source: null,
    screenshot: '/assets/projects/nft.png',
  },
  {
    icon: '/assets/logo.svg',
    title: 'SuperMarket',
    subtitle: 'E-Commerce App',
    description:
      'This is a simple e-commerce app. You can add products to your cart and checkout. It uses React, Redux, Bootstrap, and Firebase as the database.',
    techs: ['React', 'Redux', 'Bootstrap', 'Firebase'],
    live: null,
    source: null,
    screenshot: '/assets/projects/nft.png',
  },
  {
    icon: '/assets/logo.svg',
    title: 'Its Raining',
    subtitle: 'React-Based Weather Seeker',
    description:
      'React-based weather seeker. It consumes a free OpenWeatherMap API. I used CreateReactApp, React Router, and Styled Components.',
    techs: ['React', 'CreateReactApp', 'React Router', 'Styled Components'],
    live: null,
    source: null,
    screenshot: '/assets/projects/nft.png',
  },
  {
    icon: '/assets/logo.svg',
    title: 'Temperature and Humidity Simulator',
    subtitle: 'Temperature and Humidity Simulation',
    description:
      'A scienceless simulation of how temperature and humidity affect a bunch of computer-generated slimes. My initial thoughts for this project were to practice with Objects and Classes, but I also learned about physics and how to manipulate CSS variables.',
    techs: ['JavaScript', 'CSS'],
    live: null,
    source: null,
    screenshot: '/assets/projects/nft.png',
  },
  {
    icon: '/assets/logo.svg',
    title: 'ETCH-A-SKETCH',
    subtitle: 'ETCH-A-SKETCH Game with Extra Features',
    description:
      'ETCH-A-SKETCH game with some extra functionalities. Currently, it only works on desktop.',
    techs: ['JavaScript'],
    live: null,
    source: null,
    screenshot: '/assets/projects/nft.png',
  },
];
---

<Main content={content}>
  <Header />
  <About />
  <Divider />
  <Section title="I usually use">
    <div class="container mt-4 flex flex-wrap gap-2">
      {TECHS.map((tech) => <Chip label={tech} />)}
    </div>
  </Section>
  <Section title="Experience">
    {
      EXPERIENCE.map((exp) => (
        <CardExperience
          icon={exp.image}
          company={exp.company}
          link={exp.link}
          position={exp.title}
          timeline={exp.date}
          description={exp.description}
        />
      ))
    }
  </Section>

  <Section title="Projects">
    {
      projects.map(
        ({
          icon,
          title,
          subtitle,
          description,
          techs,
          live,
          source,
          screenshot,
        }) => (
          <CardProject
            icon={icon}
            title={title}
            subtitle={subtitle}
            description={description}
            techs={techs}
            live={live}
            source={source}
            screenshot={screenshot}
          />
        )
      )
    }
  </Section>
</Main>
