---
import Chip from '@components/atoms/Chip.astro';

const { icon, company, position, description, timeline, link } = Astro.props;
---

<div class="mt-4 flex items-start space-x-4">
  <div
    class="flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-retro_blue"
  >
    <span
      class="rounded-full"
      style={`
      background:url('${icon}'),url(/assets/noise-sm.svg);
      height:3rem; width:3rem;
      background-blend-mode: hard-light;
      background-position:center;
      background-size: 3rem 3rem;`}></span>
  </div>
  <div class="flex-grow">
    <div class="flex items-center justify-between">
      {
        link ? (
          <a href={link} target="_blank" class="decoration-retro_red hover:underline">
            <h3 class="text-xl font-semibold">{company}</h3>
          </a>
        ) : (
          <h3 class="text-xl font-semibold">{company}</h3>
        )
      }
      <Chip label={timeline} variant="secondary" />
      <!-- <span class="text-green-500 text-sm">{timeline}</span> -->
    </div>
    <p class="text-lg font-light">{position}</p>
    <p class="text-sm font-medium">
      {description}
    </p>
  </div>
</div>
