---
import Chip from '@atoms/Chip.astro';
import { Icon } from 'astro-icon/components';

const { icon, title, subtitle, description, techs, live, source, screenshot } =
  Astro.props;
---

<div
  id="card-container"
  class="hover:bg-retro_white/5 mb-8 mt-4 flex flex-col items-start justify-between gap-2 md:flex-row"
>
  <div class="flex basis-3/4 space-x-4">
    <div
      class="flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-retro_blue"
    >
      <!-- <img class="rounded-full" src={icon} /> -->
      <Icon name={icon} class="h-8 w-8 text-retro_white" />
    </div>

    <div class="flex flex-col items-center">
      <div>
        <h3 class="text-xl font-bold">{title}</h3>
        <p class="text-lg font-light">{subtitle}</p>
        <p class="text-sm font-normal">
          {description}
        </p>
        <div class="my-2 flex flex-wrap gap-2">
          {techs?.map((tech: string) => <Chip label={tech} size="small" />)}
        </div>
      </div>
      <div class="my-2 flex gap-4 self-start">
        <a
          target="_blank"
          title="Demo"
          href={live}
          class="flex h-8 w-8 items-center justify-center gap-1 rounded-lg text-sm text-retro_dark/80 hover:bg-retro_light/40 hover:text-retro_dark"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-link css-svt5ra"
            ><path
              d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
            ></path><path
              d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
            ></path>link</svg
          >
        </a>
        <a
          target="_blank"
          title="Github"
          href={source}
          class="flex h-8 w-8 items-center justify-center gap-1 rounded-lg text-sm text-retro_dark/80 hover:bg-retro_light/40 hover:text-retro_dark"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-github css-svt5ra"
            ><path
              d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
            ></path><path d="M9 18c-4.51 2-5-2-7-2"></path>github</svg
          >
        </a>
      </div>
      <img
        src={screenshot}
        alt={subtitle}
        class="self-center rounded-md md:hidden"
        style={{ aspectRatio: '4/3', objectFit: 'cover' }}
      />
    </div>
  </div>
  <img
    src={screenshot}
    alt={subtitle}
    class="hidden basis-1/4 self-center rounded-md md:block md:w-1/3 md:max-w-64"
    style={{ aspectRatio: '4/3', objectFit: 'cover' }}
  />
</div>
